!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :charset => "utf8", :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-type" }
    %title
      Linux on Rails
    
    %meta{:name => 'description',     :content => 'Blog by David Moreno: Ruby on Rails Programmer'}
    %meta{:name => 'author',          :content => 'David Moreno'}
    %meta{:name => 'Copyright',       :content => 'Copyright Your Name Here 2010. All Rights Reserved.'}
    
    %meta{:name => 'Classification',  :content => 'webdeveloper homepage'}
    %meta{:name => 'Keywords',        :content => 'Ruby on Rails RoR Linux David Moreno Webdeveloper Homepage'}

    %meta{:name => 'Geography',     :content => 'España'}
    %meta{:name => 'Language',      :content => 'English'}
    %meta{:name => 'Expires',       :content => 'never'}
    %meta{:name => 'Revisit-After', :content => '7 days'}
    %meta{:name => 'distribution',  :content => 'Global'}
    %meta{:name => 'Robots',        :content => 'INDEX,FOLLOW'}
    %meta{:name => 'country',       :content => 'Spain'}


    %meta{:name => 'DC.title',        :content => 'Linux on Rails Homepage'}
    %meta{:name => 'DC.subject',      :content => 'Rubist, Programmer, Linuxfan.'}
    %meta{:name => 'DC.creator',      :content => 'David Moreno.'}
  
    / don't forget to set your site up: http://google.com/webmasters
    %meta{:name => 'google-site-verification', :content => ''}
    
    %link{:rel => "shortcut icon",    :href => "/images/favicon.png"}
    
    %link{:rel => "apple-touch-icon", :href => "_/img/custom_icon.png"}
    / The is the icon for iOS's Web Clip.
    / size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
    / To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
    / Transparency is not recommended (iOS will put a black BG behind the icon)
    
      
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "print.css", :media => "print"
    
    / [if IE]
      = stylesheet_link_tag "win-ie-all.css"

    / [if IE 7]
      = stylesheet_link_tag "win-ie7.css"

    / [if lt IE 7]
      = stylesheet_link_tag "win-ie-old.css"
  
    / The following is STRONGLY OPTIONAL, but useful if you really need to kick IE in the pants.
    / There are different flavors; pick the one right for your project: http://code.google.com/p/ie7-js/
    / [if lt IE 8]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"}
    

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:type => "text/javascript" }
      = yield :page_scripts

  %body#www-linuxonrails-com
    #container
      #top
        %p#breadcrumbs
          %a{:href => '/'}
            Home
          »
          %a{:href => '/posts'}
            My posts      
            
      #header
        - if true # %header
          %h1
            %a{:href => root_path}<
              Linux on Rails
            
            
            - unless @title.blank?
              %span
                ·
                = link_to @title, ''

          - if true # %nav
            %ul.inline#nav
              %li
                %a.currentpage{:href => '/'}
                  Home
              %li
                %a{:href => '/blog'}
                  Blog
              %li
                %a{:href => '/about'}
                  About                
              %li
                %a{:href => '/contact'}
                  Contact
              %li
                %a{:href => '/sitemap'}
                  Sitemap                  
      
      %ul#subnav
        %li
          %a{:href => '/'}
            Subopción1
        %li
          Subopción2
        %li
          Subopción3
          
      .clearer
      
      - if false        
        #flashes
          - if flash[:notice]
            #flash
              = flash[:notice]

          - if flash[:error]
            #flasherror
              = flash[:error]

          / Connected as
          = # current_user.customer ? current_user.customer.fullname_capitalized : current_user.name

          %div.logout
            = # link_to "Logout", "/logout", :class => 'logout-action icon-link'
      
      
      #main
        #content
          = yield
        
        #sidebox
          %h3
            Me
            
          %a.my-photo-link{:href => '/about', :title => "Yes, I am this person."}
            %img.myphoto{:src => '/photos/me.jpg'}
   
        
          %h3
            Last tweets
          %ul.links
            %li
              %a{:href => '/posts/1'}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a libero non diam scelerisque ultricies. Vestibulum venenatis tempor arcu vitae aliquet. Nunc sit amet magna vel elit aliquet tempor. 
              %a{:href => '/posts/1'}
                Sed eget libero lorem, id fringilla est. Integer ornare pharetra imperdiet.
              %a{:href => '/posts/1'}
                Sed volutpat dapibus tellus, quis consectetur enim pretium posuere.
                        
          %h3
            Last posts
          %h4
            %a{:href => '/posts/1'}
              21 May, 2010
            %p
              Teaser of the last article

            %a{:href => '/posts/2'}
              20 Jan, 2010
              
      
      .clearer
      
      .totop
        %a{:href => "#top"}
          %img{:alt => "", :src => "/images/up.gif"}
          
        / %aside  
        /  %h2
        /    Sidebar Content
  

      %footer
        #footer
          %p
            %strike<
              &copy; Copyright.
            Copyleft David Moreno 2010. No Rights Reserved.
            %br
            Valid
            %a{:href => "http://validator.w3.org/check?uri=referer", :target => "_blank"}
              HTML5
            and
            %a{:href => "http://jigsaw.w3.org/css-validator/check/referer", :target => "_blank"}
              CSS3
            · Template design by 
            %a{:href => "http://www.opendesigns.org/profile/?user=ad267"}
              Ad267
            %br
            = link_to "Linuxonrails.com", 'http://www.linuxonrails.com'
            

